<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
        <title>Node Chat</title>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <% if(login) { %>

        <a href="#" id="openmodal">Change Username</a>
        <%}%>

        <% if(!login) { %>
        <a href="/" id="openmodal">Create Account</a>
        <%}%>
        <a href="/logout">Logout</a>
        <a href="/info">Info</a>
    </div>
    <div class="jumbotron bg-dark">
        <h2>socket chat
            <% if(login) { %>
            <p>Welcome
                <span class="username"><%=Username%></span>
            </p>
            <%}%>
        </h2>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

    </div>


    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Create A New Username</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <% if(!login) { %>
                    <form action="register" method="post">

                    <input type="text" name="name" id="nameinputreg">
                    <input type="submit" value="register">
                    </form>
                <%}%>
                <% if(login) { %>
                    <form action="update" method="post">
                    <input type="text" name="name" id="nameinputupdate">
                    <input type="submit" value="update username">
                </form>
                <%}%>
            </div>
            <div class="modal-footer text-left">
                <h3></h3>
            </div>
        </div>


    </div>
    <div id="container" class='container'>
    </div>
    <div class="footer">
        <% if(login) { %>

        <input type="text" name="message" class="messageform">
        <button class="sendMessage">Send</button>
        <input type="hidden" class="UserName" value="<%=Username%>">
        <% } %>
        <input type="hidden" class="loginbool" value="<%=login%>">
        <script>

$(document).ready(function () {

var socket = io(); //1
var user=$('.UserName').val(); //i was having trouble with ejs syntax in javascript so i used this
var login=$('.loginbool').val(); //TEMPORARY SHITCODE CHANGE THIS WARNING WARNING SHITCODE SHITCODE
console.log(user);
console.log(login);
var modal = document.getElementById('myModal');

$('.sendMessage').click(function () { //SEND MESSAGE FUNCTION
    var text = $('.messageform').val(); //set text values
    socket.emit("newmessage", { message: text,user:user}); 
    $('.messageform').val("");//reset input field
})
// $('#registerbtn').click(function () { //REGISTER FUNCTION
//     var text = $('#nameinputreg').val();
//     console.log(text)
//     socket.emit("register", { user:text});
//     $('#nameinputreg').val("");
//     modal.style.display = "none";
// })
// $('#updatebtn').click(function () { //UPDATE USERNAME FUNCTION
//     var text = $('#nameinputupdate').val();
//     socket.emit("ChangedUsername", { user:text});
//     $('#nameinputupdate').val("");
//     modal.style.display = "none";
// })

socket.on("UsernameChange",function(data){ //USERNAME CHANGE LISTENER
    var div = document.createElement('div'); //create div
    var namechange=document.createElement('p'); //create p 
    namechange.innerHTML=data.message; //p value is now the response from server side socket
    var container = document.getElementById("container"); //initialize container
    console.log(data); //good test
    namechange.className = 'namechange'; //set p class
    div.className = 'namechangediv'; //set div class
    div.appendChild(namechange); //append data to div
    container.appendChild(div); //append div to container
});
socket.on('message', function (data) { //MESSAGE UPDATE LISTENER
    var div = document.createElement('div');
    var message=document.createElement('p');
    message.innerHTML=data.message;
    var container = document.getElementById("container");
    console.log(data);
    message.className = 'message';
    if(data.user!=user){ 
        div.className = 'othermessagebox'; //blue box (You)
    }
    else{
        div.className = 'usermessagebox'; //grey box(other people)
    }
    div.appendChild(message);  //append message to div
    container.appendChild(div); //append div to container
    
});
})
</script>

    </div>
</body>
<script src="index.js"></script>
<% if(!login) { %>
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    modal.style.display = "block";

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<% } %>

</html>